[Desktop Entry]
Icon=system-reboot
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell4 kcm_grub2

X-KDE-Library=kcm_grub2
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=startup-and-shutdown

Name=GRUB2 Bootloader
Name[bs]=GRUB2 pokretač sistemar
Name[ca]=Gestor d'arrencada Grub2
Name[ca@valencia]=Gestor d'arrencada Grub2
Name[cs]=Zavaděč GRUB2
Name[da]=GRUB2 Bootloader
Name[de]=GRUB2-Bootloader
Name[el]=GRUB2 Bootloader
Name[es]=Cargador de arranque GRUB2
Name[et]=GRUB2 alglaadur
Name[fi]=GRUB2-käynnistyslatain
Name[fr]=Chargeur d'amorçage GRUB2
Name[ga]=Luchtóir Tosaithe GRUB2
Name[gl]=Cargador de arrinque GRUB2
Name[hu]=GRUB2 rendszerbetöltő
Name[it]=Bootloader GRUB2
Name[lt]=GRUB2 įkrovos tvarkyklė
Name[mr]=GRUB2 बूटलोडर
Name[nb]=GRUB2 oppstartslaster
Name[nds]=Systeemstarter Grub2
Name[nl]=GRUB2 bootloader
Name[pa]=GRUB2 ਬੂਟ-ਲੋਡਰ
Name[pl]=Program rozruchowy GRUB2
Name[pt]=Gestor de Arranque GRUB2
Name[pt_BR]=Gerenciador de Inicialização GRUB2
Name[ro]=Încărcătorul GRUB2
Name[ru]=Загрузчик GRUB2
Name[sk]=Bootloader GRUB2
Name[sl]=Zagonski nalagalnik GRUB2
Name[sv]=GRUB2 startprogram
Name[tr]=GRUB2 Önyükleyici
Name[ug]=Grub2 سىستېما باشلىغۇچ
Name[uk]=Завантажувач GRUB2
Name[x-test]=xxGRUB2 Bootloaderxx
Name[zh_CN]=GRUB2 启动加载器
Name[zh_TW]=GRUB2 開機載入器
Comment=Customize the GRUB2 bootloader
Comment[ca]=Personalitza el gestor d'arrencada Grub2
Comment[ca@valencia]=Personalitza el gestor d'arrencada Grub2
Comment[cs]=Upravit zavaděč GRUB2
Comment[da]=Tilpas GRUB2-bootloaderen
Comment[de]=GRUB2-Bootloader einrichten
Comment[el]=Προσαρμογή του προγράμματος εκκίνησης GRUB2
Comment[es]=Personalizar el cargador de arranque de GRUB2
Comment[et]=GRUB2 alglaaduri kohandamine
Comment[fi]=GRUB2-käynnistyslataimen asetukset
Comment[fr]=Personnalise le chargeur d'amorçage GRUB2
Comment[ga]=Saincheap luchtóir tosaithe GRUB2
Comment[gl]=Personalizar o cargador de arrinque GRUB2
Comment[hu]=A GRUB2 rendszerbetöltő testreszabása
Comment[it]=Configura il bootloader GRUB2
Comment[lt]=Prisitaikyti GRUB2 įkrovos tvarkyklę
Comment[mr]=GRUB2 बूटलोडर मध्ये ऐच्छिक बदल करा
Comment[nb]=Tilpass GRUB2 oppstartslaster
Comment[nds]=Systeemstarter Grub2 topassen
Comment[nl]=De GRUB2-bootloader aanpassen
Comment[pa]=ਗਰਬ2 ਬੂਟਲੋਡਰ ਨੂੰ ਕਸਟਮਾਈਜ਼ ਕਰੋ
Comment[pl]=Dostosuj program rozruchowy GRUB2
Comment[pt]=Personalizar o gestor de arranque GRUB2
Comment[pt_BR]=Personalize o gerenciador de inicialização GRUB2
Comment[ro]=Personalizează încărcătorul GRUB2
Comment[ru]=Настройка загрузчика GRUB2
Comment[sk]=Prispôsobiť bootloader GRUB2
Comment[sl]=Prilagodite zagonski nalagalnik GRUB2
Comment[sv]=Anpassa GRUB2 startprogram
Comment[tr]=GRUB2 önyükleyiciyi özelleştirin
Comment[ug]=Grub2 سىستېما باشلىغۇچنى ئۆزلەشتۈرۈش
Comment[uk]=Налаштування завантажувача GRUB2
Comment[x-test]=xxCustomize the GRUB2 bootloaderxx
Comment[zh_TW]=自訂 GRUB2 開機載入器
X-KDE-Keywords=grub,boot,menu,entries,default,timeout,password,color,splash,image,bootloader
X-KDE-Keywords[ca]=grub,arrencada,menú,entrades,omissió,temps d'expiració,contrasenya,color,benvinguda,imatge,carregador d'arrencada
X-KDE-Keywords[ca@valencia]=grub,arrencada,menú,entrades,omissió,temps d'expiració,contrasenya,color,benvinguda,imatge,carregador d'arrencada
X-KDE-Keywords[cs]=grub,boot,nabídka,položky,výchozí,timeout,heslo,barva,splash,obrázek,bootloader
X-KDE-Keywords[da]=grub,boot,menu,indgange,standard,timeout,tidsudløb,adgangskode,farve,splash,billed,bootloader
X-KDE-Keywords[de]=Grub,Boot,Menü,Einträge,Standard,Zeitüberschreitung,Passwort,Farbe,Image,Bootloader
X-KDE-Keywords[el]=grub,boot,menu,entries,default,timeout,password,color,splash,image,bootloader
X-KDE-Keywords[es]=grub,arranque,menú,entradas,predeterminado,tiempo,contraseña,color,splash,imagen,cargador de arranque
X-KDE-Keywords[et]=grub,alglaadimine,buutimine,kirjed,vaikimisi,aegumine,parool,värv,tiitelkuva,pilt,alglaadur
X-KDE-Keywords[fi]=grub,boot,menu,entries,default,timeout,password,color,splash,image,bootloader,valikko,valinnat,oletus,aikakatkaisu,salasana,väri,käynnistyslataaja,käynnistyslatain
X-KDE-Keywords[fr]=grub, amorçage, menu, entrées, par défaut, temps imparti, mot de passe, couleur, écran d'accueil, image, chargeur d'amorçage
X-KDE-Keywords[ga]=grub,tosaigh,tosú,roghchlár,iontrálacha,réamhshocrú,teorainn ama,focal faire,dath,splancscáileán,íomhá,luchtóir tosaithe
X-KDE-Keywords[gl]=grub,arrinque,menú,entradas,por defecto,tempo de espera,contrasinal,cor,pantalla,imaxe,cargador de arrinque
X-KDE-Keywords[hu]=grub,betöltés,menü,bejegyzések,alapértelmezett,időtúllépés,jelszó,szín,indítóképernyő,kép,rendszerbetöltő
X-KDE-Keywords[it]=grub,boot,menu,voci,predefinito,scadenza,password,colore,splash,immagine,bootloader
X-KDE-Keywords[lt]=grub,įkėlimas,meniu,Įrašai,numatyta,laikas,slaptažodis,spalva,splash,atvaizdis,paleidimas
X-KDE-Keywords[mr]=ग्रब, बूट, मेन्यू, नोंदी, मूलभूत, टाइमआउट, गुप्तशब्द, रंग, स्प्लॅश, प्रतिमा, बूटलोडर
X-KDE-Keywords[nb]=grub,oppstart,meny,oppføringer,standard,tidsavbrudd,passord,farge,velkomst,bilde,oppstartslaster
X-KDE-Keywords[nl]=grub,boot,menu,items,standaard,timeout,wachtwoord,kleur,splash,afbeelding,bootloader
X-KDE-Keywords[pl]=grub,uruchamianie,menu,wpisy,domyślne,czas oczekiwania,hasło,kolor,ekran powitalny,obraz,bootloader
X-KDE-Keywords[pt]=grub,arranque,menu,itens,predefinido,tempo-limite,senha,cor,ecrã inicial,imagem,gestor de arranque
X-KDE-Keywords[pt_BR]=grub,inicialização,menu,entradas,padrão,tempo de espera,senha,boot,cor,splash,imagem,carregador de inicialização
X-KDE-Keywords[ro]=grub,încărcare,demarare,boot,meniu,implicit,temporizare,parolă,culori,imagine,încărcător
X-KDE-Keywords[ru]=grub,boot,menu,entries,default,timeout,password,color,splash,image,bootloader,загрузка,загрузчик,пароль,меню,ядра,образ,приветствие,цвета,время ожидания
X-KDE-Keywords[sk]=grub,boot,menu,položky,predvolené,timeout,heslo,farba,splash,obrázok,zavádzač
X-KDE-Keywords[sl]=grub,zagon,meni,vnosi,privzeto,časovna omejitev,geslo,barva,pozdravni zaslon,slika,zagonski nalagalnik
X-KDE-Keywords[sv]=grub,start,meny,alternativ,förval,tidsgräns,lösenord,färg,startskärm,bild,startprogram
X-KDE-Keywords[tr]=grub,önyükleme,menü,girdiler,öntanımlı,zaman aşımı,parola,renk,açılış,görüntüsü,ön yükleyici
X-KDE-Keywords[uk]=grub,boot,menu,entries,default,timeout,password,color,splash,image,bootloader,завантаження,меню,записи,типовий,час очікування,тайм-аут,пароль,паролі,колір,кольори,вітання,вікно,зображення,завантажувач
X-KDE-Keywords[x-test]=xxgrub,boot,menu,entries,default,timeout,password,color,splash,image,bootloaderxx
X-KDE-Keywords[zh_TW]=grub,boot,menu,entries,default,timeout,password,color,splash,image,bootloader
Categories=Qt;KDE;X-KDE-settings-system;
